<li class="nav-item">
          <%= link_to "events", events_path, class:"nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to "my events", user_path(current_user), class:"nav-link" %> 
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "log out", logout_path, class:"dropdown-item" %>
            </div>
    </li>