<li class="nav-item">
              <%= link_to "Sign Up", signup_path, class:"nav-link" %> 
          </li>
          <li class="nav-item">
              <%= link_to "Log In", login_path, class:"nav-link" %>
          </li>